[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
	branch = 999f355
[submodule "Dependencies/glew"]
	path = Dependencies/glew
url=https://github.com/nigels-com/glew.git glew
	branch = 3a8eff7