[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
	branch = 999f355
[submodule "Dependencies/xerces"]
	path = Dependencies/xerces
	url = git@bitbucket.org:Rossette/xerces-openxaml.git
	branch = 79d05e8
[submodule "Dependencies/freetype"]
	path = Dependencies/freetype
	url = git://git.savannah.gnu.org/freetype/freetype2.git
	branch = VER-2-9-1
